boto3==1.34.55
botocore==1.34.55
colorama==0.4.6
Faker==22.1.0
ffmpeg_python==0.2.0
matplotlib==3.8.3
numpy==2.1.1
openai==1.46.0
pandas==2.2.2
paramiko==3.4.0
Pillow==10.4.0
PlexAPI==4.15.7
pyclip==0.7.0
pyheif==0.7.1
pymongo==4.6.1
python-dotenv==1.0.1
python_dateutil==2.8.2
python_dateutil==2.9.0.post0
pytz==2023.3.post1
pytz==2024.1
reportlab==4.1.0
Requests==2.32.3
requests_html==0.10.0
spotipy==2.23.0
SQLAlchemy==2.0.25
streamlit==1.33.0
streamlit==1.37.1
thefuzz==0.22.1
toml==0.10.2
tqdm==4.66.1
tqdm==4.66.4
yt_dlp==2024.8.6
