boto3==1.34.55
botocore==1.34.55
colorama==0.4.6
Faker==22.1.0
ffmpeg_python==0.2.0
matplotlib==3.8.3
numpy==2.1.3
openai==1.54.4
pandas==2.2.3
paramiko==3.4.0
Pillow==11.0.0
PlexAPI==4.15.7
pyclip==0.7.0
pyheif==0.7.1
pymongo==4.6.1
python-dotenv==1.0.1
python_dateutil==2.8.2
pytz==2023.3.post1
reportlab==4.1.0
Requests==2.32.3
requests_html==0.10.0
spotipy==2.23.0
SQLAlchemy==2.0.25
streamlit==1.33.0
thefuzz==0.22.1
toml==0.10.2
tqdm==4.66.1
yt_dlp==2024.11.4
